<div class="container m-1">
    <div class="box">
        <div>
            <p>{{gameTime}}</p>
        </div>
        <hr class="m-1" />
        <div class="mb-2">
            <span style="display: inline-block;">
                <p>{{homeTeamName}}</p>
            </span>
            <span class="is-pulled-right">
                <p>{{homeTeamScore}}</p>
            </span>
        </div>
        <div>
            <span style="display: inline-block;">
                <p>{{awayTeamName}}</p>
            </span>
            <span class="is-pulled-right">
                <p>{{awayTeamScore}}</p>
            </span>
        </div>
    </div>
</div>